<div>

    <div class="col-xs-4">

        <div class="panel panel-info ">
            <div class="panel-heading">
                Параметры
            </div>
            <div class="panel-body">

                <sites-tree sites="params" nodeselect="paramsselect" n></sites-tree>


            </div>
        </div>
    </div>
    <div class="col-xs-8">

        <div class="panel panel-info ">
            <div class="panel-heading">
                Графики
            </div>
                <div class="chart ">
                    <nvd3 ng-show="vm.params"
                          options="vm.options"
                          data="vm.values"
                            >
                    </nvd3>

            </div>


        </div>

    </div>

</div>

