<div class="container" style="height: 100%;" ng-controller="RatingCtrl as vm">
    <div class="row " style="height: 100%; margin-top: 10px;">

        <div class="panel panel-info " style="max-height: 100%; overflow-y: auto; min-height: 400px; margin-bottom: 40px">
            <div class="panel-heading">
                Параметры
            </div>
            <div class="panel-body" >
                <div ui-grid="gridOptions"></div>
                <nvd3 options="sparkConfig" data="sparkData"></nvd3>
            </div>
        </div>
    </div>
</div>

