<div class="container" ng-controller="SettingsCtrl as vm" style="margin-top: 10px">
    <span ng-show="vm.loading" class="spinner"></span>

    <div class="row">
        <div class="col-xs-6">

            <div class="form-group">
                <label class="control-label ">Адрес страницы: </label>
                <input type="text" class="form-control" style="width:100%;" ng-model="vm.new_url">
            </div>
            <div class="form-group">
                <label class="control-label ">Поисковый запрос: </label>
                <input type="text" class="form-control " ng-model="vm.new_condition_query">
            </div>
            <button type="button" class="btn btn-primary" ng-click="vm.addTask()">
                Добавить
            </button>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label ">Поисковая система: </label>
                <select ng-model="vm.new_sengine_id" class="form-control"
                        ng-options="search.sengine_id as search.sengine_name for search in vm.sengines"></select>
            </div>
            <div class="form-group">
                <label class="control-label ">Регион: </label>
                <ui-select ng-model="vm.new_region_id" theme="bootstrap" style="min-width: 300px;">
                    <ui-select-match>{{$select.selected.region_name || "Екатеринбург"}}</ui-select-match>
                    <ui-select-choices
                            repeat="region.region_id as region in vm.regions | filter: {region_name: $select.search} | limitTo: 10">
                        {{region.region_name}}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-xs-12">

            <div class="panel panel-info">
                <div class="panel-heading">
                    Список сайтов
                </div>
                <div class="panel-body">
                    <sites-tree ng-show="vm.sites && vm.sites.length>0" sites="vm.sites"
                                nodeselect="vm.selectSettings"
                                noderemove="vm.removeTask"></sites-tree>
                </div>
            </div>
        </div>
    </div>
</div>
