<div class="container">
    <div class="alerts-container"></div>

    <div class="col-xs-6">
        <span ng-show="loading" class="spinner"></span>

        <div class="panel panel-info">
            <div class="panel-heading">Список сайтов
                <a class="pull-right btn btn-primary btn-xs tree-addbutton" nodrag ng-click="collapsed=!collapsed"
                   ng-model="collapsed">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="panel-body">
                <div ng-show="collapsed" style="margin: 10px;">
                    <form class="form-inline">
                        <input type="text" class="form-control" style="width:436px" ng-model="formData.url"
                               placeholder="Введите url сайта">
                        <button type="submit" class="btn btn-primary" ng-click="collapsed=!collapsed; newSite();">OK
                        </button>
                    </form>
                </div>

                <div ng-show="sites && sites.length>0" ui-tree data-drag-enabled="false">
                    <ol ui-tree-nodes ng-model="sites">
                        <li ng-repeat="node in sites" ui-tree-node collapsed="true"
                            ng-include="'partials/tree_template.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-info ">
            <div class="panel-heading">Настройки</div>
            <div class="panel-body" ng-show="site">

                <div class="form-group">
                    <label class="control-label col-sm-4">Выбранный сайт:</label>
                    {{site.url}}
                </div>


                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Ключевая фраза: </label>
                        <input type="text" class="form-control col-sm-8" style="width:300px;"
                               ng-model="site.condition_query">
                    </div>
                </div>


                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Поисковая система: </label>
                        <select ng-model="site.sengine_id" class="form-control col-sm-8" style="width:100px;"
                                ng-options="search.sengine_id as search.sengine_name for search in sengines"></select>
                    </div>
                </div>


                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Регион: </label>
                        <input type="text" class="form-control col-sm-8" style="width:100px;"
                               ng-model="site.region" placeholder="54">
                    </div>
                </div>


                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Размер выборки: </label>
                        <input type="text" class="form-control col-sm-8" style="width:100px;"
                               ng-model="site.size_search" placeholder="20">
                    </div>
                </div>

                <button ng-show="!siteOrTask" type="button" class="btn btn-primary" ng-click="saveTask(site)">
                    Cохранить изменения
                </button>
                <button ng-show="siteOrTask" type="button" class="btn btn-primary" ng-click="addTask(site)">
                    Добавить выборку
                </button>
            </div>

        </div>
    </div>
</div>
