<div class="container" ng-controller="SitesCtrl as vm">
    <div class="left_bar "
         ng-click="vm.showAside();"
           ng-mouseleave="vm.asideLoading = false;">
        <span ng-hide="vm.asideLoading" class="glyphicon glyphicon-share-alt left_bar_icon" style="font-size: 25px;"></span>
        <div ng-show="vm.asideLoading" class="spinner-small left_bar_icon" ></div>
    </div>

    <span ng-show="vm.loading" class="spinner"></span>

    <div class="row">
        <div class="col-xs-12" style="margin-top: 10px; margin-bottom: 10px; min-width: 750px;" >
            <div class=""  style="  margin-bottom: 0;padding: 5px;
            border: 1px solid  #ddd; border-radius: 4px;
            background-color: rgba(211, 211, 211, 0.17); height: 45px;">
                <div ng-hide="vm.site" class="site-name">Выберите сайт на панели слева</div>
                <div ng-show="vm.site" style="display: inline-flex; justify-content: flex-end; width: 100%;" >
                    <div class="site-name " style=" flex: 1;" >
                        <div class="link" style="flex: 1;" bs-tooltip data-placement="top" data-title="{{vm.site.data.url}}">
                            <a ng-href="{{vm.site.data.url}}" target="_blank"
                               >
                                <span>{{vm.site.data.url}}</span>
                            </a>
                        </div>

                        <div class="link" style="flex: 2;" >
                            <span bs-tooltip data-placement="top" data-title="{{vm.site.title}}">&nbsp; &nbsp; &nbsp;{{vm.site.title}}</span>
                        </div>
                        <!--
                        <span ng-show="vm.site.position!=null" > (на {{vm.site.position}} месте) </span>
                        <span ng-show="vm.site.position==null">(не попал в выборку)</span>
                        -->

                    </div>
                    <div style="margin-right: 5px; margin-left: 5px;">
                        <button class="btn btn-primary " ng-disabled="vm.loading"
                                ng-click="vm.getParamtypes()"
                                data-type="info" data-placement="top" bs-tooltip data-title="Получить выборку">
                            {{vm.site.data.date_calc | date:'HH.mm dd.MM.yy'}}
                            <span class="glyphicon glyphicon-download-alt"></span>
                        </button>
                    </div>
                    <div style="margin-right: 5px;">
                        <button class="btn btn-danger " ng-show="vm.isAdmin()"
                                ng-disabled="vm.loading"  ng-click="vm.calcParams()"
                                data-type="info" data-placement="top"  bs-tooltip data-title="Пересчитать всю выборку">
                            <span class="glyphicon glyphicon-warning-sign"></span>
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-success "
                                ng-disabled="vm.loading"  ng-click="vm.calcSiteParams()"
                                data-type="info" data-placement="top"  bs-tooltip data-title="Пересчитать сайт">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>

</div>


            </div>
        </div>
    </div>
    <div class="row " style="position: absolute; top: 135px; bottom: 40px; left: 80px; right: 80px; min-width: 720px">
        <div style="height: 100%;" ui-view></div>
    </div>


</div>

