<div class="container">
    <div class="alerts-container"></div>
    <div class="col-xs-4">
        <span ng-show="loading" class="spinner"></span>

        <div class="panel panel-info">
            <div class="panel-heading">Список сайтов
            </div>
            <div class="panel-body">
                <div ng-show="sites && sites.length>0" ui-tree data-drag-enabled="false">
                    <ol ui-tree-nodes ng-model="sites">
                        <li ng-repeat="node in sites" ui-tree-node collapsed="true"
                            ng-include="'partials/tree_template.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="panel panel-info ">
            <div class="panel-heading">Настройки</div>
            <div class="panel-body" ng-show="site">
                <form>
                    <div class="form-group">
                        <label class="control-label">Выбранный сайт:</label>
                        <span ng-show="site" style="word-wrap: break-word">{{site.url}}</span>
                        <span ng-show="!site">не выбран</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label ">Ключевая фраза: </label>
                        <input type="text" ng-disabled="true" class="form-control "
                               ng-model="site.condition_query">
                    </div>


                    <div class="form-group">
                        <label class="control-label">Поисковая система: </label>
                        <input type="text" ng-disabled="true" class="form-control "
                               ng-model="site.sengine_name">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Регион: </label>
                        <input type="text" ng-disabled="true" class="form-control "
                               ng-model="site.region">
                    </div>

                    <div class="form-group">
                        <label class="control-label ">Размер выборки: </label>
                        <input type="text" ng-disabled="true" class="form-control"
                               ng-model="site.size_search">

                    </div>
                </form>

                <br>
                <button type="button" class="btn btn-primary" ng-disabled="loading" ng-show="site "
                        ng-click="getParams()">Получить данные
                </button>
                <a class="btn btn-success " ng-disabled="loading" ng-show="site" ng-click="calcParams()">
                    <span class="glyphicon glyphicon-refresh"></span>
                </a>

            </div>

        </div>
        <div class="panel panel-info ">
            <div class="panel-heading">
                Параметры
            </div>
            <div class="panel-body">

                <accordion close-others="oneAtATime">
                    <accordion-group ng-show="params">
                        <accordion-heading>
                            Графики параметров
                        </accordion-heading>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Ваш сайт занимает место:</label>
                            <span ng-show="site.position!=null" style="word-wrap: break-word">{{site.position}}</span>
                            <span ng-show="site.position==null">не попал в выборку</span>
                        </div>

                        <br>
                        <select ng-model="chart" class="form-control"
                                style=" margin-left:50px; width: 300px"
                                ng-change="values = chart.values;" ng-options="p as p.key for p in params"></select>
                        <nvd3-line-chart ng-show="params"
                                         data="values"
                                         width="590"
                                         height="350"
                                         showXAxis="true"
                                         showYAxis="true"
                                         tooltips="true"
                                         interactive="true"
                                >
                        </nvd3-line-chart>


                    </accordion-group>
                    <accordion-group ng-show="params1">
                        <accordion-heading>
                            Параметры сайтов из выборки
                        </accordion-heading>

                        <select ng-model="chart1" class="form-control" style="  width: 500px"
                                ng-change="values1 = chart1.params" ng-options="p as p.name for p in params1"></select>
                        <br>

                        <div class="form-inline">
                            <label class="control-label">
                                Ссылка сайта:
                            </label>

                            <div class="link form-group">
                                <a ng-href="{{chart1.url}}">{{chart1.url}}</a>
                            </div>
                        </div>

                        <br>

                        <div class="form-inline">
                            <label class="control-label">
                                Ссылка поисковой выборки:
                            </label>

                            <div class="link form-group">
                                <a ng-href="{{chart1.surl}}" style="">{{chart1.surl}}</a>
                            </div>
                        </div>
                        <br>

                        <div class="form-inline">
                            <label class="control-label">
                                Позиция в выборке:
                            </label>

                            <div class="link form-group">
                                <a ng-href="{{chart1.position}}" style="">{{chart1.position}}</a>
                            </div>
                        </div>
                        <br>

                        <div class="panel panel-default panel-body">
                            <ul class="list-group">
                                <li class="list-group-item  panel-heading" ng-repeat="param in values1"
                                    ng-include="'partials/params_template.html'">
                                </li>
                            </ul>
                        </div>

                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</div>
</div>
