<div ui-tree-handle class="app-tree-node app-tree-node-content" ng-click="vm.select(this)">

    <a class="btn btn-success btn-xs app-tree-arrow" ng-if="node.nodes && node.nodes.length > 0" nodrag ng-click="vm.toggle(this)">
        <span class="glyphicon"
              ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
    </a>
    <a tooltip-placement="top-left" tooltip-popup-delay='800' tooltip="{{node.title}}">
    <div class="app-tree-node-text " ng-hide="node.task_id" ng-click="vm.toggle(this)"> {{node.title}}</div>
    <div class="app-tree-node-text" ng-show="node.task_id" style="color: #808080;"> {{node.title}}</div>
    </a>
</div>

<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'partials/tree_template.html'">
    </li>
</ol>