/* app css stylesheet */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px; /* It represent footer height and which is going to give 100px margin-down even you content is less. */
}

.app-header {
padding-top: 10px;
padding-bottom: 10px;
font-size: 18px;
text-align: left;
text-shadow: 0 1px 0 rgba(0,0,0,.1);

}

.app-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}

table.sites {
    margin: 20px 0 0 0;
}

table.sites th {
    border: 1px solid black;
    padding: 10px; /* Поля вокруг текста */

}

table.sites td {
    border: 1px solid black;
}
.span-error {
    color: red;
}
.tree-title {
    font-size: 20px;
}
.settings-label-width {
    width: 150px;
}
.tree-addbutton {
    margin-right: 11px;
}
.table-cell {
    overflow:auto; width:800px; height:80px; padding: 10px;
}

.table-cell-small {
    max-width: 300px;
}

.table-cell-supersmall {
    max-width: 100px;
}

.input-width {
    width: 400px;
}

.spinner {
  width: 100px;
  height: 100px;
  background-image: url("../img/spin100x100.gif");
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  margin: 50% 0 0 100%;
}
.spinner-small {
    width: 34px;
    height: 34px;
    background-image: url("../img/spin34x34.gif");
}

.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}
.tree-node-content {
    margin: 10px;
    overflow: hidden;
    word-wrap: break-word;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle {
    cursor: pointer;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.link {
    overflow: hidden; width: 400px; white-space: nowrap; text-overflow: ellipsis;
}