/* app css stylesheet */

body {
  padding-top: 20px;
}

table {
    margin: 50px; /* Поля вокруг текста */
}
th {
    border: 1px solid black;
    padding: 10px; /* Поля вокруг текста */
}
td {
    border: 1px solid black;
}
#span-error {
    color: red;
}
#table-cell {
    overflow-y:scroll; width:1000px; height:80px;
}